@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: #D40000;
  --primary-yellow: #FFCB05; 
  --primary-blue: #3760AB;
  --secondary-blue: #E3EBF9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3 {
  font-family: 'Press Start 2P', 'Rubik', 'sans-serif';
}

h5 {
  font-family: 'Rubik Mono One', 'Rubik', 'sans-serif';
}